@import url('https://fonts.googleapis.com/css?family=Asar');

body {
  background: linear-gradient(white, grey);

}
#mainPage {
  height: 720px;
  padding-top: 5px;
  /*border: 1px solid black;*/
  background-image: url("../house.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 450px;

}
#test {
  /*color: blue;*/
  text-align: center;
  padding-bottom: 30px;
}


.jumbotron {
  text-align: center;
  margin-bottom: 1%;
  padding-bottom: 5%;
  /*background-color: #DEDCDA;*/
  height: 100%;
  background: linear-gradient(grey, white),
  url("../capitol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
}

.jumbotron h1 {
  color: #BF0A30;
  font-family: 'Asar', serif;
  font-size: 100px;
}
.jumbotron p {
  color: #BF0A30;
  font-family: 'Asar', serif;
}

ul li {
  list-style-type: none;
}


#myModalLabel {
  text-align: center;
}

#form-search {
  text-align: center;

}
#findRep {
  text-align: center;

}
.repSearch {
  height: 339px;
}

.modal-body {
  background-color: #DEDCDA;
}
.modal-body li {
  font-size:  1.5em;
}

.modal-body li p {
  font-weight: bold;
}
.modal-header {
  background-color: rgba(0, 40, 104, 0.9);
  color: #FFFFFF;
  box-shadow: 0 2px 2px -2px gray;
}
.modal-header .close {
  color: #BF0A30;
}
.modal-footer {
  background-color: rgba(0, 40, 104, 0.9);
}

/****GRAPH****/
#chart {
  /*border: 1px solid black;*/
}
.ct-bar {
  /*stroke: #4ECDC4;*/
  stroke-width: 30px;

}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: rgb(0, 40, 104);
  /*stroke-dasharray: 10px;*/

}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #BF0A30;
    /*stroke-dasharray: 10px;*/
}

.ct-label {
  color: black;
  font-size: 1em;
  font-weight: bold;
}
.tooltip {
  position: absolute;
  z-index: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  border-radius: 3px;
  text-align: center;
  pointer-events: none;
  color: white;
  transition: opacity .1s ease-out;
}

.tooltip.tooltip-hidden {
  opacity: 0;
}

#squares {
  display: flex;
  justify-content: center;
}

#blueSquare {
  width: 15px;
  height: 15px;
  background: rgb(0, 40, 104);
  margin-top: 7px;
}

#redSquare {
  width: 15px;
  height: 15px;
  background: #BF0A30;
  margin-top: 7px;
}

p.sqText {
  padding-right: 10px;
  color: black;
}
#appText {
  padding-left: 10px;
  color: black;
}
/* GRAPH ENDS */

/*#searchForm {
  float: right;
}
#about {
  float: left;
}*/
.btn-default {
   box-shadow: 1px 2px 5px #000000;
}

#info-list {
  font-weight: bold;
  font-size: 1.25em;
}
#info-list h3 {
  text-align: center;
}

#info-list li:nth-child(6){
  font-size: 1.35em;
}

li.info-items {
  margin-top: 10px;
  list-style-type: circle;
}
.navbar {
  background-color: rgba(204, 202, 200, 0.2);
  border-bottom: 0;
  /*padding: 16px;*/
}
